
thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
table{
    display: table;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    border-color:#cea135 ;
}
thead tr td{
    text-align: center;
}

td{
    padding: 20px;
    display: table-cell;
    vertical-align: inherit;
}
.container{
    padding-top: 30px;
    min-height: 100vh;
    background-color:#cea135;
    display: flex;
    align-items: center;
    
    flex-direction: column;
}
.tables thead{
    background-color: #f8ce6a;
}
.tables tbody td{
    padding :10px;
    border-bottom: 1px solid #11122b;
    
}
.tables{
    border-radius: 5px;
    background-color: #fff;
    width: 90%;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
}


.tables thead th{
    padding: 10px;
    
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    border-left: 1px solid white;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;  
}
.linker{
    padding-top: 35px;
}
.decor a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color:#cea135;
}
.decor{
    background-color:#fff ;
    border-radius: 7px;
    padding: 3px;
    transition: 0.3s;
    border-color: #f8ce6a;
}
.decor :focus{
    box-shadow: 0px 19px 31px -12px rgba(0,0,0,0.71);
  -webkit-box-shadow: 0px 19px 31px -12px rgba(0,0,0,0.71);
  -moz-box-shadow: 0px 19px 31px -12px rgba(0,0,0,0.71);
  }